h1 {
    font-size: 3em;
    padding: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-text-stroke: 2px black;
}

h2 {
    font-size: 2em;
    padding: 1em;
    margin-top: 2em;
    box-shadow: 0px 5px 5px #c2b9409f;
}

h3 {
    font-size: 2em;
    padding: 1em;
    margin-top: 2em;
}

h4 {
    font-size: 2em;

}

section {
    margin: 2em;
}

:not(h1, h2, h3, h4, h5, h6) {
    font-size: 20px;
}

.theme {
    padding: 4em;
    padding-top: 0px;
}

.exercises {
    padding: 4em;
    padding-top: 4px;
    margin: 4px;
    border-radius: 10px;
}

.aside-group aside {
    padding: 4px;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em;
    border-radius: 30px;
}

code {
    font-size: 1em;
}